.header{
	background-color: var(--gray-700);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12.5rem;
}

.title{
	font-size: 2.5rem;
	color: var(--blue);
}

.header img{
	height: 2.25rem;
	margin-right: 0.75rem;
}

.title > span{
	color: var(--purple-dark);
}